
<p>
  <mat-toolbar color="primary">
   
    <span>News Portal Application</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="openAddEditArticleForm()">
      ADD NEW ARTICLE
    </button>   
  </mat-toolbar>
</p>
<hr>

<div class="main-body">

  <mat-form-field class="filter-input">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search">
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="articleId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-width-id"> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.articleId}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-width-title"> Title </th>
        <td mat-cell *matCellDef="let row"> {{row.title}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-width-description"> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.description}}</td>
      </ng-container>

      <ng-container matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-width-category"> Category </th>
        <td mat-cell *matCellDef="let row"> {{getCategoryName(row.categoryId)}}</td>
      </ng-container>

      <ng-container matColumnDef="createdDateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-width-publishedon"> Published on </th>
        <td mat-cell *matCellDef="let row"> {{row.createdDateTime | date:'dd MMM yyyy hh:mm:ss a'}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-width-action"> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteArticle(row.articleId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of articles"></mat-paginator>
  </div>
</div>
<br>
<hr>
<div style="padding: 20px;">
    <span> Click </span><a href="#" (click)="AddRandomArticles()">here</a> to add 20 random articles  
</div>
 
